{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'index.css' %}">
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <div class="upside">
                <h1>WebTV</h1>
                <div class="search">
                    <input type="text" class="searchTerm" placeholder="What are you looking for?">
                    <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="options">
                <ul>
                    <li>Inicio</li>
                    <li>Desenhos</li>
                    <li>Esportes</li>
                    <li>Filmes</li>
                    <li>Jornalismo</li>
                    <li>Religioso</li>
                    <li>TV aberta</li>
                </ul>
            </div>
        </header>
        
        <main>
            <div class="grid-container">
            <div class="card">
                <img src="caminho/para/imagem1.jpg" alt="Imagem do Card 1">
                <h2>Card 1</h2>
                <p>Breve descrição do Card 1...</p>
            </div>
            <div class="card">
                <img src="caminho/para/imagem2.jpg" alt="Imagem do Card 2">
                <h2>Card 2</h2>
                <p>Breve descrição do Card 2...</p>
            </div>
            <div class="card">
                <img src="caminho/para/imagem3.jpg" alt="Imagem do Card 3">
                <h2>Card 3</h2>
                <p>Breve descrição do Card 3...</p>
            </div>
            <div class="card">
                <img src="caminho/para/imagem1.jpg" alt="Imagem do Card 1">
                <h2>Card 4</h2>
                <p>Breve descrição do Card 4...</p>
            </div>
            <div class="card">
                <img src="caminho/para/imagem2.jpg" alt="Imagem do Card 2">
                <h2>Card 5</h2>
                <p>Breve descrição do Card 5...</p>
            </div>
            <div class="card">
                <img src="caminho/para/imagem3.jpg" alt="Imagem do Card 3">
                <h2>Card 6</h2>
                <p>Breve descrição do Card 6...</p>
            </div>
        </main>
    </body>
</html>