.video-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.video-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.video-section {
    text-align: center;
}

video {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 0 auto;
}

.iframe-container {
    position: relative; /* Cria um contexto para o posicionamento relativo */
    width: 100%; /* Define a largura máxima para o container */
    padding-bottom: 56.25%; /* Define a proporção de aspecto (16:9) */
    overflow: hidden; /* Esconde qualquer conteúdo extra que possa vazar */
}

.iframe-container iframe {
    position: absolute; /* Posiciona o <iframe> dentro do container */
    top: 0;
    left: 0;
    width: 100%; /* Preenche todo o espaço disponível */
    height: 100%; /* Preenche todo o espaço disponível */
    border: none;
}
